---
http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/statuses/show/1284821798106861570.json
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="Ir9OmUHVzrvnc0WjW82Uxw", oauth_nonce="d0b22a39f9a2fb96eef2a5d6109df9b6",
        oauth_signature="TCKIBPl3nxaW8M4JOeXlPs%2BfPBw%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1595160736", oauth_token="24938383-Gn31ZGAqR40F9mxFNvrLA30B1kuwYUWCTBeBX2c2k",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Sun, 19 Jul 2020 12:12:17 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write
      X-Connection-Hash:
      - 79f9dee1e7f612ce92d1db38595aa3f1
      X-Rate-Limit-Limit:
      - '900'
      X-Rate-Limit-Remaining:
      - '899'
      X-Rate-Limit-Reset:
      - '1595161637'
      X-Response-Time:
      - '138'
      X-Transaction:
      - 004ca9af00a91235
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: UTF-8
      string: '{"created_at":"Sun Jul 19 12:06:02 +0000 2020","id":1284821798106861570,"id_str":"1284821798106861570","text":"@bitcoinersbest
        add https:\/\/t.co\/SbqleRuquU","truncated":false,"entities":{"hashtags":[],"symbols":[],"user_mentions":[{"screen_name":"bitcoinersbest","name":"bitcoiners.best","id":1167195584278728704,"id_str":"1167195584278728704","indices":[0,15]}],"urls":[{"url":"https:\/\/t.co\/SbqleRuquU","expanded_url":"https:\/\/www.amazon.com\/Bitcoin-Standard-Decentralized-Alternative-Central\/dp\/1119473861","display_url":"amazon.com\/Bitcoin-Standa\u2026","indices":[20,43]}]},"source":"\u003ca
        href=\"https:\/\/mobile.twitter.com\" rel=\"nofollow\"\u003eTwitter Web App\u003c\/a\u003e","in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":1167195584278728704,"in_reply_to_user_id_str":"1167195584278728704","in_reply_to_screen_name":"bitcoinersbest","user":{"id":24938383,"id_str":"24938383","name":"pablof7z
        \ud83d\ude80","screen_name":"pablof7z","location":"","description":"I care
        about climbing, #bitcoin, stoicism and building shit \ud83d\ude80 | Team @bitcoinersbest","url":"https:\/\/t.co\/VDmRbjW0WD","entities":{"url":{"urls":[{"url":"https:\/\/t.co\/VDmRbjW0WD","expanded_url":"https:\/\/medium.com\/@pablof7z","display_url":"medium.com\/@pablof7z","indices":[0,23]}]},"description":{"urls":[]}},"protected":false,"followers_count":6164,"friends_count":498,"listed_count":26,"created_at":"Tue
        Mar 17 19:35:24 +0000 2009","favourites_count":382,"utc_offset":null,"time_zone":null,"geo_enabled":false,"verified":false,"statuses_count":2117,"lang":null,"contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"022330","profile_background_image_url":"http:\/\/abs.twimg.com\/images\/themes\/theme15\/bg.png","profile_background_image_url_https":"https:\/\/abs.twimg.com\/images\/themes\/theme15\/bg.png","profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/803152592633266176\/Ltlw8ApA_normal.jpg","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/803152592633266176\/Ltlw8ApA_normal.jpg","profile_banner_url":"https:\/\/pbs.twimg.com\/profile_banners\/24938383\/1582813400","profile_link_color":"0084B4","profile_sidebar_border_color":"A8C7F7","profile_sidebar_fill_color":"C0DFEC","profile_text_color":"333333","profile_use_background_image":true,"has_extended_profile":false,"default_profile":false,"default_profile_image":false,"following":false,"follow_request_sent":false,"notifications":false,"translator_type":"none"},"geo":null,"coordinates":null,"place":null,"contributors":null,"is_quote_status":false,"retweet_count":0,"favorite_count":0,"favorited":false,"retweeted":false,"possibly_sensitive":false,"possibly_sensitive_appealable":false,"lang":"und"}'
  recorded_at: Sun, 19 Jul 2020 12:12:17 GMT
[...]
- request:
    method: get
    uri: https://api.twitter.com/1.1/statuses/show/1284826289891938304.json
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="Ir9OmUHVzrvnc0WjW82Uxw", oauth_nonce="7b950df9c18b531254c4b71dac011cef",
        oauth_signature="9B0y7q9Xz5qdLvT4my5bbJnAbdA%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1595161493", oauth_token="24938383-Gn31ZGAqR40F9mxFNvrLA30B1kuwYUWCTBeBX2c2k",
        oauth_version="1.0"
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json; charset=utf-8
      Last-Modified:
      - Sun, 19 Jul 2020 12:24:53 GMT
      Status:
      - 404 Not Found
      X-Connection-Hash:
      - 6af354d6b2764a29c87575de5bcf6ffa
      X-Rate-Limit-Limit:
      - '900'
      X-Rate-Limit-Remaining:
      - '896'
      X-Rate-Limit-Reset:
      - '1595161637'
      X-Response-Time:
      - '109'
      X-Transaction:
      - 001f93f4006d87dc
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: UTF-8
      string: '{"errors":[{"code":144,"message":"No status found with that ID."}]}'
  recorded_at: Sun, 19 Jul 2020 12:24:53 GMT
[...]
