<div class="modal fade" id="invoiceModal" tabindex="-1" role="dialog" aria-labelledby="invoiceModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-md modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title c-white" data-invoice-role="title"></h5>
        <button type="button" class="close" data-dismiss="modal">
        </button>
      </div>

      <div data-error='already-voted' class="modal-body text-center fade-in" style="display: none;">
        <h2 class="mb-30 c-white">Successfully upvoted</h2>
        <h6 class="mb-30 c-gray-1">You have already upvoted this resource.</h6>
        <h6 class="mb-30 c-gray-1">Thank you for supporting bitcoin education.</h6>
        <h5><a class="link medium close-modal" href="" data-dismiss="modal">Done</a></h5>
      </div>

      <div id="invoice-modal-settled" class="modal-body text-center fade-in" style="display: none;">
        <img src="../images/UpvoteSuccess.png" alt="" class="invoice-paid-success mb-30 mt-30">
        <h2 class="mb-30 c-white">Successfully upvoted</h2>
        <h6 class="mb-30 c-gray-1">Thank you for supporting bitcoin education.</h6>
        <h6 class="mb-30 c-gray-1">Help us decide who to support. Vote on the recipient of this month’s donation to a bitcoin open source project.</h6>
        <h5><a class="link medium close-modal" href="" aria-label="Close" data-dismiss="modal">Done</a></h5>
      </div>

      <div id="invoice-modal-unsettled" class="modal-body text-center" data-controller="clipboard">
        <h2 class="c-white text-center">Invoice Total</h2>
        <h3 class="mb-20 c-white text-center"><span class="c-brand" data-invoice-role="total"></span> sats</h3>
        <h6 class="mb-20 c-gray-1 text-center">All proceeds will be donated to open-source bitcoin/lightning projects.</h6>
        <canvas data-invoice-role="qr"></canvas>
        <a class="btn btn-rect-lg btn-block mt-20 push-button" data-action="clipboard#copy" data-target="clipboard.button">Copy Payment Request</a>
        <input id="invoice-input" type="input" data-target="clipboard.source" style="position: relative; top: -50px; z-index: -100" />
        <h6 class="mb-0 text-center">
          <span class="c-gray-1">Powered by </span><a target="_blank" href="https://paywall.link/" class="link">paywall.link</a></h6>
      </div>
    </div>
  </div>
</div>
