<h6 class="text-uppercase c-gray-1 medium mb-15"><%= episode.authors.first.try(:name) %></h6>
<h5 class="semibold mb-15 c-white"><a href="<%= episode_path(episode.resource.slug) %>"><%= episode.title %></a></h5>
