<% title 'FAQ' %>
<section class="faq mt-50 fade-in">

   <div class="section-header pt-20 pb-20 c-white text-center">
      <h1 class="mb-0">Frequently Asked Questions</h1>
   </div>

   <h3 class="mt-30 mb-15 c-white">What is Bitcoiners Best?</h3>
   <p class="c-gray-1">Bitcoiners Best is the best bitcoin content curated by bitcoiners.</p>
   <p class="c-gray-1">Here you will find the GOAT bitcoin articles, books, podcasts and even harder to surface podcast episodes and Twitter threads.</p>
   <p class="c-gray-1">Soon enough you'll also find the the best stuff that's trending over the past week.</p>
   <p class="c-gray-1">Bitcoiners Best is an <a class="link" target="_blank" href="https://github.com/Bitcoiners-Best/bitcoinersbest">open source project</a> created by <a class="link" target="_blank" href="https://twitter.com/CitizenBitcoin">@CitizenBitcoin</a>, <a class="link" target="_blank" href="https://twitter.com/BootstrapBandit">@BootstrapBandit</a>, <a class="link" target="_blank" href="https://twitter.com/binarydreaming">@binarydreaming</a>, and <a class="link" target="_blank" href="https://twitter.com/pablof7z">@Pablof7z</a>.</p>
   <p class="c-gray-1">We’re just getting started, so send us all your feedback. We plan to iterate quickly. You can also follow our <a class="link" href="https://twitter.com/bitcoinersbest" target="_blank">twitter</a> account for updates.</p>

   <h3 class="mt-30 mb-15 c-white">How does the voting work?</h3>
   <p class="c-gray-1">Login with your Twitter account to vote.</p>
   <p class="c-gray-1">Vote up your favorite resources.</p>
   <p class="c-gray-1">The first tap/click on a resource's vote button will add one vote to that resource's total.</p>
   <p class="c-gray-1">The second tap/click will 10x your vote, adding 10 to the that resource's total.</p>
   <p class="c-gray-1">10x votes cost 10,000 sats.</p>

   <h3 class="mt-30 mb-15 c-white">Where do those sats go?</h3>
   <p class="c-gray-1">All sats paid for 10x votes are donated monthly to a bitcoin open source project.</p>
   <p class="c-gray-1">We'll all vote on the open source project to receive the donation.</p>
   <p class="c-gray-1">Bitcoiners Best surfaces the best bitcoin content <i>and</i> supports bitcoin open source projects! </p>

   <h3 class="mt-30 mb-15 c-white">What can I submit to Bitcoiners Best?</h3>
   <p class="c-gray-1">All submissions must be bitcoin-only. All submissions will be evaluated on their bitcoin-onliness. No shitcoins need apply.</p>
   <p class="c-gray-1">Otherwise help bitcoiners, newcoiners and, eventually, precoiners to climb that significant learning curve more quickly and reliably by submitting bitcoiners' best content.</p>

   <h3 class="mt-30 mb-15 c-white">How do I support or contribute?</h3>
   <p class="c-gray-1">The best way to support us is to join, submit great bitcoin resources and upvote your favorites.</p>
   <p class="c-gray-1">Bitcoiners Best is open source. You can also help by <a class="link" target="_blank" href="https://github.com/Bitcoiners-Best">joining our repo</a>, making pull requests, filing issues and making suggestions.</p>
   <p class="c-gray-1">If you'd simply like to donate, DM any of the creators, and we'll get that sorted.</p>

</section>
