<% title 'FAQ' %>
<section class="faq mt-50 fade-in">

   <div class="section-header pt-20 pb-20 c-white text-center">
      <h1 class="mb-0">Frequently Asked Questions</h1>
   </div>

   <h3 class="mt-30 mb-15 c-white">What is Bitcoiners Best?</h3>
   <p class="c-gray-3">Bitcoiners Best is the best bitcoin content curated by bitcoiners.</p>
   <p class="c-gray-3">Here you will find the GOAT bitcoin articles, books, podcasts and even harder to surface podcast episodes and Twitter threads.</p>
   <p class="c-gray-3">But you'll also find the the best stuff that's trending right now.</p>
   <p class="c-gray-3">Bitcoiners Best is an <a class="link" target="_blank" href="https://github.com/Bitcoiners-Best/bitcoinersbest-rails">open source project</a> created by <a class="link" target="_blank" href="https://twitter.com/CitizenBitcoin">@CitizenBitcoin</a>, <a class="link" target="_blank" href="https://twitter.com/BootstrapBandit">@BootstrapBandit</a>, <a class="link" target="_blank" href="https://twitter.com/binarydreaming">@binarydreaming</a>, and <a class="link" target="_blank" href="https://twitter.com/pablof7z">@Pablof7z</a>.</p>

   <h3 class="mt-30 mb-15 c-white">How does the voting work?</h3>
   <p class="c-gray-3">Login with your Twitter account or Lightning Auth to vote.</p>
   <p class="c-gray-3">Vote up any resource you can vouch for.</p>
   <p class="c-gray-3">The first tap/click on a rousource's vote button will add one vote to that resource's vote total.</p>
   <p class="c-gray-3">The second tap/click will 10x your vote, adding 10 to the that resource's vote total. You can buy 10x votes, for those special resources in your life, for about 1 USD's worth of sats. </p>

   <h3 class="mt-30 mb-15 c-white">Where do those sats go?</h3>
   <p class="c-gray-3">All sats paid for 10x votes are donated monthly to a bitcoin open source project.</p>
   <p class="c-gray-3">We'll all vote on the open source project to receive the donation.</p>

   <h3 class="mt-30 mb-15 c-white">What can I submit to Bitcoiners Best?</h3>
   <p class="c-gray-3">All submissions must be bitcoin-only. All submissions will be evaluated on their bitcoin-onliness. No shitcoins need apply.</p>
   <p class="c-gray-3">Otherwise help bitcoiners, newcoiners and, eventually, pre-coiners to climb that singnificant learning curve more quickly and reliably by submitting the bitcoiners' best content.</p>

   <h3 class="mt-30 mb-15 c-white">How do I support or contribute?</h3>
   <p class="c-gray-3">The best way to support us is to join and upvote your favorite bitcoin resources.</p>
   <p class="c-gray-3">If you'd simply like to donate, reach out to any of the creators, and we'll get that sorted.</p>

</section>
