<h4 class="c-white medium mb-15"><%= donation.period %> donation</h4>
<div class="d-flex br-4 mb-30 fade-in resource">
  <div class="pr-20">
    <%if donation.project.image.attached? %>
      <%= image_tag donation.project.image.variant(resize_to_limit: [100, 100]), class: 'ew-100 card-img' %>
    <% else %>
      <img class='ew-100 card-img' src="" %>
    <% end %>
  </div>
  <div class="flex-grow-1 align-self-center call-render">
    <%= render donation.project %>
  </div>
  <div class="align-self-top pl-20">
    <div class="vote-total" id="vote-total">
      <h6 class="medium mt-10 c-white"><%= nice_sats_number donation.amount_donated %> donated</h6>
    </div>
  </div>
</div>
