<section class="mt-50 fade-in">
  <div class="section-header pt-30 pb-30 c-white text-center">
    <h1 class="mb-0">Donations</h1>
    <div class="text-center mb-30 c-gray-1">
      <p>Every month we donate all proceeds to an open source project choosen by you. Please choose this month’s winner from the list below or <%= link_to 'propose a new one', new_project_path, class: 'link' %>. You can also <%= link_to 'vote', vote_path, class: 'link' %> for next months open-source donation.</p>
  </div>

  <div class="container">
    <%= render @donations %>
  </div>
</section>
