<blockquote class="twitter-tweet" data-theme="dark" data-conversation="none" data-dnt="true" data-cards="hidden"><a href="<%= twitter_thread.url %>"></a></blockquote>
<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
