<h6 class="text-uppercase c-gray-1 medium mt-25 mb-15"><%= twitter_thread.created_by %></h6>
<a href="<%= twitter_thread_path(twitter_thread.resource.slug) %>"><h5 class="medium mb-15 c-white"><%= twitter_thread.title %></h5></a>
</h5>
