// Place all the styles related to the Podcasts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

section.new-resource {
  .category {
    display: none;
  }

  .podcast .category#podcast { display: block; }
  .episode .category#episode { display: block; }
  .article .category#article { display: block; }
  .book .category#book { display: block; }
  .twitter_thread .category#twitter_thread { display: block; }
  .project .category#project { display: block; }
}

.votes[data-vote-user-votes="0"] {
  .regular-vote { display: inline-block; }
  .ten-x { display: none; }
}

.votes[data-vote-user-votes="1"] {
  .regular-vote { display: none; }
  .ten-x { display: inline-block; }
}

.votes[data-vote-user-votes="2"] {
  .regular-vote { display: none; }
  .ten-x { display: inline-block; }

  svg.ten-x > path {
    fill: #FFCF53;
  }
}

.Project-module {
  .votes {
    .vote[data-user-votes="1"] {
      .regular-vote { display: inline-block; }
      .ten-x { display: none; }

      svg.regular-vote > path {
        fill: #FFCF53;
      }
    }
  }
}

h1.donation-amount {
  font-size: 3rem;
}
